<%if(@validation.errors.length>0)%>
	<div class="span-22 last prepend-top">	
		<div class="error">
		<ul>
			<%@validation.errors.each do |e|%>
			<li><%=e%></li>
			<%end%>
		
		</ul>
		</div>
	</div>
<%end%>

<div class="span-22 prepend-top last">

	<div class="listimage">
		<%= case @army_list.army_id
			when 1 then image_tag("Ariadna.png") + "<div class='factiontitle'>Ariadna</div>"
			when 2 then image_tag("IAECombinado.png")+"<div class='factiontitle'>Combined</div>"
			when 3 then image_tag("Haqqislam.png")+"<div class='factiontitle'>Haqqislam</div>"
			when 4 then image_tag("Nomadas.png")+"<div class='factiontitle'>Nomads</div>"
			when 5 then image_tag("PanOceania.png")+"<div class='factiontitle'>Pan Oceania</div>"
			when 6 then image_tag("YuJing.png")+"<div class='factiontitle'>Yu Jing</div>"
			when 7 then image_tag("LogoMERCS.png")+"<div class='factiontitle'>Mercs</div>"
			when 8 then image_tag("PanOceania.png")+"<div class='factiontitle'>Shock Army Of Acontecimento</div>"
			when 9 then image_tag("PanOceania.png")+"<div class='factiontitle'>Neoterran Capitaline Army</div>"
			when 10 then image_tag("PanOceania.png")+"<div class='factiontitle'>Military Order</div>"
			when 11 then image_tag("YuJing.png")+"<div class='factiontitle'>The Imperial Service</div>"
			when 12 then image_tag("YuJing.png")+"<div class='factiontitle'>Japanese Sectorial Army</div>"
			when 13 then image_tag("Caledonia.png")+"<div class='factiontitle'>Caledonian Highlander Army</div>"
			when 14 then image_tag("Ariadna.png")+"<div class='factiontitle'>Merovingian Rapid Response</div>"
			when 15 then image_tag("Hassassin.png")+"<div class='factiontitle'>Hassassin Bahram</div>"
							
			when 16 then image_tag("Haqqislam.png")+"<div class='factiontitle'>Qapu Khalqi</div>"
			when 17 then image_tag("IAECombinado.png")+"<div class='factiontitle'>Morat Agression Force</div>"
			when 18 then image_tag("IAECombinado.png")+"<div class='factiontitle'>Shasvastii Expeditionary Force</div>"
			when 19 then image_tag("Nomadas.png")+"<div class='factiontitle'>Bakunin Jurisdictional Command</div>"
			when 20 then image_tag("Nomadas.png")+"<div class='factiontitle'>Corregidor Jurisdictional Command</div>"
			when 21 then image_tag("aleph.png")+"<div class='factiontitle'>Aleph</div>"
			end
								%>
	</div>
	<div class="listinfo">
		<div class="listtitle"><%=h(@army_list.name)%> &raquo; <%=@army_list.user.login%></div>
		<div class="liststats">
			<div class="listtitlegroup"><strong>Points:</strong> <%=@validation.actualpoints%>  &raquo; <strong>Allowed:</strong> <%=@validation.allowedpoints%> </div> 
			<div class="listtitlegroup"><strong>SWC:</strong> <%=@validation.currentswc %>  &raquo; <strong>Allowed:</strong> <%=@validation.maxswc%></div>
			<div class="littitlegroup">	<%if @myList%> &raquo; <%=link_to 'Add Combat Group',{:controller=>"combat_groups",:action=>"create",:army_list_id=>@army_list.id},:method=>:post%>  &raquo; <%=link_to "Edit",edit_user_army_list_path(current_user,@army_list)%>
				<%end%> &raquo; <%=link_to "Print View",print_user_army_lists_path(@army_list.user,:id=>@army_list.id)%>
				
			<%if (!@myList && current_user!=nil && !@favourited)%>	&raquo; 
				<%=link_to_function "add favourite","$('#new_favourite').submit()"%>
				<%form_for [current_user,@favourite] do |f|%> 
					<%=f.hidden_field :army_list_id,:value=>@army_list.id%>
					
				<%end%>
			<%end%>
			</div>
		</div>
		<div class="listdescription">
			
			<%=h(@army_list.description)%>
			
		</div>
		
		<div class="sharing">
			Sharing &raquo;
			<a id="togglebbcode" href="#">BBCode</a>
		
			<div id="bbcode">
			<textarea><%=@validation.bbcode%></textarea>
		
			</div>
		</div>
		
	</div>
	
</div>
<%if(@myList)%>
<div id="addunitdiv" class="span-22 last">
	<%=render :partial=>"combat_group_units/addunit"%>
</div>
<%end%>
<div class="span-22 last prepend-top">
	
	<%@army_list.combat_groups.each_with_index do |cgroup,i|%>
	
		<div class="combatgroupheader span-22 prepend-top last">
			<div class="combatgrouptitle prepend-1 span-15">Combat Group <%=(i+1).to_s%>  &raquo; Order Pool: <%=@validation.combatgrouporders[i]%></div>
			<div class="combatgroupactions span-6 last">
				<%=hidden_field_tag "combatgroup"+i.to_s,cgroup.id %>
					<%if @myList%> &raquo; <a href="#" class="addunit">Add Unit</a>
					  &raquo;	<%=link_to "Remove Combat Group", {:controller=>"combat_groups", :action => "destroy", :id => cgroup.id },
					            :confirm => "Are you sure?", :method => :delete%>
					<%end%>	
				
			</div>
		
		</div>
	
		<%if(cgroup.combat_group_units.length==0)%>
<div class="unitheader span-22 last ui-corner-all">
	<div class="prepend-8 unitname">Click "Add Unit" to get started</div>
</div>
		<%end%>
		<%=render :partial=>'unit_options/unitoptionlist',:object=>cgroup.combat_group_units,:locals=>{:isMerc=>@isMerc,:removelink=>@myList,:isInch=>@isInch}%>
	<%end%>


	<%if(@validation.weapons.length>0)%>
		<div class="combatgroupheader span-22 last prepend-top">
			<div class="combatgrouptitle prepend-1 span-21 last">Weapons Table</div>
		</div>
		<div class="span-22 last">
	<%= 	render :partial => 'weapons/weapontable',:object=>@validation.weapons,:locals=>{:isAdmin=>false,:isInch =>@isInch} %>
		</div>
	<%end%>
</div>
<div class="span-22 prepend-top">
</div>
