<table>
	<tr>
	<th>name</th>
	<th>Movement
	</th>
	<th>CC
	</th>
	<th>BS
	</th>
	<th>PH
	</th>
	<th>WIP
	</th>
	<th>ARM
	</th>
	<th>BTS
	</th>
	<th>W
	</th>
	<th>Ava
	</th>
	<th>BS Weapons</th>
	<th>CC Weapons</th>
	<th>SWC</th>
	<th>Cost</th>
	</tr>	
	<%=render :partial=>"unitoptionrow",:object=>unitoptioncard,:locals=>{:isInch=>isInch}%>
</table>
<!--Unit Options -->
<table>
	<tr>
	
		<th>Name</th>
		<th>BS Weapons</th>
		<th>CC Weapons</th>
		<th>SWC</th>
		<th>Cost</th>
	</tr>

	<tr>

	<td>	<%=unitoptioncard.name%></td>
	
		<td>
		<%unitoptioncard.bsweapons.each do |bs|%>
			
			<%=bs.name%>
			 
		<%end%>
		</td>
		
		<td>
				<%=unitoptioncard.swc%>
		</td>
		<td>
			<%=unitoptioncard.cost%>
		</td>
	</tr>
	
</table>