<div class="unit span-22 last">
<div class="unitheader span-22 last ui-corner-all">
	
<div class="span-1"><%=link_to image_tag("plus.png"),"#",:class=>"expand"%></div>	
<div class="span-8 unitname"><%=unitoptionrow.unit_option.unit.name%> &raquo;
<%if (unitoptionrow.unit_option.name == nil or unitoptionrow.unit_option.name=="")%>
<%unitoptionrow.unit_option.bsweapons.each_with_index do |bs,i|%>
		
		<%if(!bs.cc and i<2) %>	<%= bs.abbr != nil ? bs.abbr : bs.name%> 
		<%end%>
		
	<%end%>

<%else%>
 <%=unitoptionrow.unit_option.name%>
<%end%>
</div>

<div class="span-5 orderspan">
<%if(unitoptionrow.unit_option.unit.regular)%>
Regular
<%else%>
Irregular
<%end%>
<%=case unitoptionrow.unit_option.unit.impetuous
		when 0 then " &raquo; not impetuous" 
		when 1 then " &raquo; impetuous"
		when 2 then " &raquo; frenzy"
	end%>
	</div>
	
	
	<div class="span-6  swccost">SWC: <%= unitoptionrow.unit_option.swc< 0 ? "+"+unitoptionrow.unit_option.swc.abs.to_s : unitoptionrow.unit_option.swc %> &raquo; Cost: <%=unitoptionrow.unit_option.cost%>
	
	
	</div>
	<div class="span-2 last actions">
		<%if(removelink)%>
		

			<%if !unitoptionrow.first?%>
				<%=	link_to image_tag("uparrow.png"), {:controller=>"combat_group_units", :action => "movehigher", :id => unitoptionrow.id }, :method => :delete%>
			<%end%>
			<%if !unitoptionrow.last?%>
					<%=	link_to image_tag("dnarrow.png"), {:controller=>"combat_group_units", :action => "movelower", :id => unitoptionrow.id }, :method => :delete%>
			<%end%>
		<%=	link_to image_tag("delete.png"), {:controller=>"combat_group_units", :action => "destroy", :id => unitoptionrow.id },
		            :confirm => "Are you sure?", :method => :delete%>

		<%end%>
		</div>
</div>
	<div class="unitdetails span-22 last ui-corner-all">
<div class="span-1 prepend-top"></div>			
<div class="prepend-top span-20 last" style="border:solid 1px black">
<div class="span-20 last" style="background:#303030">
	<div class="span-2">Mov</div>
	<div class="span-2">CC</div>
	<div class="span-2">BS</div>
	<div class="span-2">PH</div>
	<div class="span-2">WIP</div>
	<div class="span-2">ARM</div>
	<div class="span-2">BTS</div>
	<div class="span-2">W</div>
	<div class="span-2 last">Ava</div>
</div>
<div class="span-20 last">
 <div class="span-2"><%if(isInch)%>
                                <%=unitoptionrow.unit_option.unit.mov1%>-<%=unitoptionrow.unit_option.unit.mov2%>
                        <%else%>
                                <%=unitoptionrow.unit_option.unit.mov1*10/4%>-<%=unitoptionrow.unit_option.unit.mov2*10/4%>
                        <%end%></div>




                <div class="span-2"><%=unitoptionrow.unit_option.unit.cc%></div>

                <div class="span-2"><%=unitoptionrow.unit_option.unit.bs%></div>

                <div class="span-2"><%=unitoptionrow.unit_option.unit.ph%></div>


                <div class="span-2"><%=unitoptionrow.unit_option.unit.wip%></div>


                <div class="span-2"><%=unitoptionrow.unit_option.unit.arm%></div>


                <div class="span-2"><%=unitoptionrow.unit_option.unit.bts%></div>

                <div class="span-2"><%=unitoptionrow.unit_option.unit.w%></div>

                <div class="span-2 last"><%if(isMerc)%>
                                <%if(unitoptionrow.unit_option.unit.avail<1)%>
                                        4
                                <%elsif(unitoptionrow.unit_option.unit.avail==1)%>
                                        S
                                <%else%>
                                        <%=unitoptionrow.unit_option.unit.avail.div(2).to_s%>
                                <%end%>
                        <%else%>
                <%=unitoptionrow.unit_option.unit.avail<1 ? "T" : unitoptionrow.unit_option.unit.avail%>
                        <%end%>
                        </div>

</div>
</div>
	<div class="span-20 prepend-1 last">
	<strong>Weapons:</strong> 	<%unitoptionrow.unit_option.bsweapons.each do |bs|%>
		
			<%= bs.abbr != nil ? bs.abbr : bs.name%>,

		
	<%end%>
	</div>
	<div class="span-20 prepend-1 append-bottom last">
	<strong>Skills:</strong> <%=unitoptionrow.unit_option.unit.skills%>
	</div>
	<div class="clear"></div>
	</div>
	</div>



