<table>
	<tr>
		<th>Weapon</th>
		<th>Short</th>
		<th>Medium</th>
		<th>Long</th>
		<th>Max</th>
		<th>Dam</th>
		<th>B</th>
		<th>Ammo</th>
		<th>Template</th>
		<th>EM Vul</th>
		<th>CC</th>
		<%if (isAdmin) %><th>actions</th><% end %>
	</tr>
<%weapontable.each do |w|
	s = @isInch ? w.shortrange : (w.shortrange*10/4);
	m =  @isInch ? w.mediumrange : (w.mediumrange*10/4);
	l =  @isInch?w.longrange : (w.longrange*10/4);
	x =  @isInch?w.maxrange : (w.maxrange*10/4);
	%>
	<tr>
		<td><%=w.name%></td>
		<td><%= (w.shortrange>0) ? "0-"+s.to_s+"/"+w.shortrangemod.to_s : "-"%></td>
		<td><%= (w.mediumrange>0) ? s.to_s+"-"+m.to_s+"/"+w.mediumrangemod.to_s : "-"%></td>
		<td><%= (w.longrange>0) ? m.to_s+"-"+l.to_s+"/"+w.longrangemod.to_s : "-"%></td>
		<td><%= (w.maxrange>0) ? l.to_s+"-"+x.to_s+"/"+w.maxrangemod.to_s : "-"%></td>
		<td><%=w.damage%></td>
		<td><%=w.b%></td>
		<td><%=w.ammo%></td>
		<td><%=w.template%></td>
		<td><%=w.emvul ? "Yes" : "No"%></td>
		<td><%=w.cc ? "Yes" : "No"%></td>
		<% if(isAdmin) %><td><%= link_to 'edit',edit_admin_weapon_path(w) %></td><%end%>
	</tr>
<%end%>
</table>