<h1>Editing weapon</h1>

<% form_for([:admin,@weapon]) do |f| %>
  <%= f.error_messages %>
	<p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	</p>
	<p>
	    <%= f.label :abreviation %><br />
	    <%= f.text_field :abbr %>
	  </p>
	<p>
	    <%= f.label :shortrange %><br />

		<%=select_tag 'weapon[shortrange]',options_for_select([-1, 4, 8, 12,16,24,32,36,40,48,52, 96,104],  @weapon.shortrange)%>
	  </p>
	<p>
	    <%= f.label 'short range modifier'%><br />
		<%=select_tag 'weapon[shortrangemod]',options_for_select([6,3,0,-3,-6], @weapon.shortrangemod)%>
	  </p>
	<p>
	    <%= f.label :mediumrange %><br />
	    <%=select_tag 'weapon[mediumrange]',options_for_select([-1, 4, 8, 12,16,24,32,36,40,48,52, 96,104],  @weapon.mediumrange)%>
	  </p>
	<p>
	    <%= f.label :mediumrangemod %><br />
	    <%=select_tag 'weapon[mediumrangemod]',options_for_select([6,3,0,-3,-6], @weapon.mediumrangemod)%>
	  </p>

	<p>
	    <%= f.label :longrange %><br />
	    <%=select_tag 'weapon[longrange]',options_for_select([-1, 4, 8, 12,16,24,32,36,40,48,52, 96,104],  @weapon.longrange)%>
	  </p>
	<p>
	    <%= f.label :longrangemod %><br />
	    <%=select_tag 'weapon[longrangemod]',options_for_select([6,3,0,-3,-6], @weapon.longrangemod)%>
	  </p>
	<p>
	    <%= f.label :maxrange %><br />
	    <%=select_tag 'weapon[maxrange]',options_for_select([-1, 4, 8, 12,16,24,32,36,40,48,52, 96,104],  @weapon.maxrange)%>
	  </p>

	<p>
	    <%= f.label :maxrangemod %><br />
	    <%=select_tag 'weapon[maxrangemod]',options_for_select([6,3,0,-3,-6], @weapon.maxrangemod)%>
	  </p>
	<p>
	    <%= f.label :ammo %><br />
	    <%= f.text_field :ammo %>
	  </p>
	<p>
	    <%= f.label :damage %><br />
	    <%= f.text_field :damage %>
	  </p>
	<p>
	    <%= f.label :burst %><br />
	    <%= f.text_field :b %>
	  </p>
	<p>
	    <%= f.label :template %><br />
	    <%= f.text_field :template %>
	  </p>
	<p>
	    <%= f.label 'E/M Vulnerability' %><br />
	    <%= f.check_box :emvul %>
	  </p>
	<p>
	    <%= f.label 'Close Combat Weapon' %><br />
	    <%= f.check_box :cc %>
	  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @weapon %> |
<%= link_to 'Back', weapons_path %>
