<h1>New weapon</h1>

<% form_for([:admin,@weapon]) do |f| %>
  <%= f.error_messages %>
	<p>
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	</p>
	<p>
	    <%= f.label :abreviation %><br />
	    <%= f.text_field :abbr %>
	  </p>
	<p>
	    <%= f.label :shortrange %><br />
	   
		<%=select_tag 'weapon[shortrange]','<option value="0">0</option>
											<option value="4">4</option>
											<option value="8">8</option>
											<option value="12">12</option>
											<option value="16">16</option>
											<option value="24">24</option>
											<option value="32">32</option>
											<option value="36">36</option>
											<option value="48">48</option>
											<option value="52">52</option>
											<option value="96">96</option>
											<option value="104">104</option>
											'%>
	  </p>
	<p>
	    <%= f.label 'short range modifier'%><br />
		<%=select_tag 'weapon[shortrangemod]','<option value="3">+3</option>
											<option value="0">0</option>
											<option value="-3">-3</option>
											<option value="-6">-6</option>
											'%>
	  </p>
	<p>
	    <%= f.label :mediumrange %><br />
	    <%=select_tag 'weapon[mediumrange]','<option value="0">0</option>
											<option value="4">4</option>
											<option value="8">8</option>
											<option value="12">12</option>
											<option value="16">16</option>
											<option value="24">24</option>
											<option value="32">32</option>
											<option value="36">36</option>
											<option value="48">48</option>
											<option value="52">52</option>
											<option value="96">96</option>
											<option value="104">104</option>
											'%>
	  </p>
	<p>
	    <%= f.label :mediumrangemod %><br />
	    <%=select_tag 'weapon[mediumrangemod]','<option value="3">+3</option>
											<option value="0">0</option>
											<option value="-3">-3</option>
											<option value="-6">-6</option>
											'%>
	  </p>
	
	<p>
	    <%= f.label :longrange %><br />
	    <%=select_tag 'weapon[longrange]','<option value="0">0</option>
											<option value="4">4</option>
											<option value="8">8</option>
											<option value="12">12</option>
											<option value="16">16</option>
											<option value="24">24</option>
											<option value="32">32</option>
											<option value="36">36</option>
											<option value="48">48</option>
											<option value="52">52</option>
											<option value="96">96</option>
											<option value="104">104</option>
											'%>
	  </p>
	<p>
	    <%= f.label :longrangemod %><br />
	    <%=select_tag 'weapon[longrangemod]','<option value="3">+3</option>
											<option value="0">0</option>
											<option value="-3">-3</option>
											<option value="-6">-6</option>
											'%>
	  </p>
	<p>
	    <%= f.label :maxrange %><br />
	    <%=select_tag 'weapon[maxrange]','<option value="0">0</option>
											<option value="4">4</option>
											<option value="8">8</option>
											<option value="12">12</option>
											<option value="16">16</option>
											<option value="24">24</option>
											<option value="32">32</option>
											<option value="36">36</option>
											<option value="48">48</option>
											<option value="52">52</option>
											<option value="96">96</option>
											<option value="104">104</option>
											'%>
	  </p>
	
	<p>
	    <%= f.label :maxrangemod %><br />
	    <%=select_tag 'weapon[maxrangemod]','<option value="3">+3</option>
											<option value="0">0</option>
											<option value="-3">-3</option>
											<option value="-6">-6</option>
											'%>
	  </p>
	<p>
	    <%= f.label :damage %><br />
	    <%= f.text_field :damage %>
	  </p>
	<p>
	    <%= f.label :ammo %><br />
	    <%= f.text_field :ammo %>
	  </p>
	<p>
	    <%= f.label :burst %><br />
	    <%= f.text_field :b %>
	  </p>
	<p>
	    <%= f.label :template %><br />
	    <%= f.text_field :template %>
	  </p>
	<p>
	    <%= f.label 'E/M Vulnerability' %><br />
	    <%= f.check_box :emvul %>
	  </p>
	<p>
	    <%= f.label 'Close Combat Weapon' %><br />
	    <%= f.check_box :cc %>
	  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_path %>
