<h1>Editing army</h1>

<% form_for([:admin,@army]) do |f| %>
  <%= f.error_messages %>
	<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	</p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Back', admin_army_path(@army) %>
