<div class="addunitblock span-22 last">
	<div class="span-20 prepend-1 last">

<% form_for(@combat_group_unit) do |f| %>
  <%= f.error_messages %>
<div class="span-20 last">
	<%=f.hidden_field :combat_group_id%>

<%=select_tag 'unit[id]',"<optgroup label='Light Infantry'>" + options_from_collection_for_select(@li, :id, :name)+"</optgroup><optgroup label='Medium Infantry'>" + options_from_collection_for_select(@mi, :id, :name)+"</optgroup><optgroup label='Heavy Infantry'>" + options_from_collection_for_select(@hi, :id, :name)+"</optgroup>
<optgroup label='Scouts'>" + options_from_collection_for_select(@sk, :id, :name)+"</optgroup><optgroup label='Warbands'>" + options_from_collection_for_select(@wb, :id, :name)+"</optgroup><optgroup label='Remotes'>" + options_from_collection_for_select(@rem, :id, :name)+"</optgroup><optgroup label='TAGs'>" + options_from_collection_for_select(@tag, :id, :name)+"</optgroup>",	{:onChange=>remote_function(:update => "unitoptioncontainer",
		:url =>{:controller=> :combat_group_units, :action => :getunit},
		:with=>"'unit_id=' + this.value")}%>

 </div>
<div id="unitoptioncontainer">
<div  class="span-20 last">
		
		<table>
			<tr>
				<th>Skills</th>
			<th>Mov
			</th>
			<th>CC
			</th>
			<th>BS
			</th>
			<th>PH
			</th>
			<th>WIP
			</th>
			<th>ARM
			</th>
			<th>BTS
			</th>
			<th>W
			</th>
			<th>Avail
			</th>
			</tr>	
			<tr>
				<td>
					<%if(firstunit.regular)%>
					regular, 
					<%else%>
					irregular, 
					<%end%>
				<%=case firstunit.impetuous
				   		when 0 then "not impetuous"
						when 1 then "impetuous"
						when 2 then "frenzy"
					end%>
					<%=firstunit.skills%>
					</td>
				<td><%if(@isInch)%>
						<%=firstunit.mov1%>-<%=firstunit.mov2%>
					<%else%>
						<%=firstunit.mov1*10/4%>-<%=firstunit.mov2*10/4%>
					<%end%>
					</td>




				<td><%=firstunit.cc%></td>

				<td><%=firstunit.bs%></td>

				<td><%=firstunit.ph%></td>


				<td><%=firstunit.wip%></td>


				<td><%=firstunit.arm%></td>


				<td><%=firstunit.bts%></td>

				<td><%=firstunit.w%></td>

				<td><%if(@isMerc)%>
						<%if(firstunit.avail<1)%>
							4
						<%elsif(firstunit.avail==1)%>
							S
						<%else%>
							<%=firstunit.avail.div(2).to_s%>
						<%end%>
					<%else%>
				<%=firstunit.avail<1 ? "T" : firstunit.avail%>
					<%end%></td>
		</tr>
		</table>
</div>
<div class="span-20 last">
	
		
	
		<!--Unit Options -->
		<table>
			<tr>
				<th>select</th>
				<th>Name</th>
				<th>BS Weapons</th>
				<th>CC Weapons</th>
				<th>SWC</th>
				<th>Cost</th>
			</tr>
		<%firstunit.unit_options.each_with_index do |uopt,ind|%>
			<tr>
			<td><%if(ind==0)%><%=radio_button_tag "combat_group_unit[unit_option_id]",uopt.id, true%><%else%> <%=radio_button_tag "combat_group_unit[unit_option_id]",uopt.id%><%end%></td>
			<td>	<%=uopt.name%></td>

				<td>
				<%uopt.weapons.each do |bs|%>
					<%if(!bs.cc)%>
					<%=bs.name%>
					<%end%> 
				<%end%>
				</td>
				<td>
					<%uopt.weapons.each do |cc|%>
						<%if(cc.cc)%>
						<%=cc.name%>
						<%end%>
					<%end%>
				</td>
				<td>
						<%=uopt.swc< 0 ? "+"+uopt.swc.abs.to_s : uopt.swc %>
				</td>
				<td>
					<%=uopt.cost%>
				</td>
			</tr>




		<%end%>
		</table>
	
		

    
  
</div>

</div>
<div class="append-bottom span-20 last">
<%= f.submit "Create" %>  <a href="#" id="closeadd">close</a>
</div>
<div class="clear"></div>
<% end %>

</div>

</div>
