<h2><%=unitcard.name%></h2>
<table>
	<tr>
		<th>Skills</th>
	<th>Mov
	</th>
	<th>CC
	</th>
	<th>BS
	</th>
	<th>PH
	</th>
	<th>WIP
	</th>
	<th>ARM
	</th>
	<th>BTS
	</th>
	<th>W
	</th>
	<th>Avail
	</th>
	</tr>	
	<tr>
		<td>
			<%if(unitcard.regular)%>
			regular, 
			<%else%>
			irregular, 
			<%end%>
		<%=case unitcard.impetuous
		   		when 0 then "not impetuous"
				when 1 then "impetuous"
				when 2 then "frenzy"
			end%>
			<%=unitcard.skills%>
			</td>
		<td><%if(isInch)%>
				<%=unitcard.mov1%>-<%=unitcard.mov2%>
			<%else%>
				<%=unitcard.mov1*10/4%>-<%=unitcard.mov2*10/4%>
			<%end%></td>
		
	

		
		<td><%=unitcard.cc%></td>
	
		<td><%=unitcard.bs%></td>
	
		<td><%=unitcard.ph%></td>
	

		<td><%=unitcard.wip%></td>

		
		<td><%=unitcard.arm%></td>
	
	
		<td><%=unitcard.bts%></td>

		<td><%=unitcard.w%></td>

		<td><%=unitcard.avail%></td>
</tr>
</table>
<!--Unit Options -->
<table>
	<tr>
		<th>select</th>
		<th>Name</th>
		<th>BS Weapons</th>
		<th>CC Weapons</th>
		<th>SWC</th>
		<th>Cost</th>
	</tr>
<%unitcard.unit_options.each_with_index do |uopt,ind|%>
	<tr>
	<td><%if(ind==0)%><%=radio_button_tag "combat_group_unit[unit_option_id]",uopt.id, true%><%else%> <%=radio_button_tag "combat_group_unit[unit_option_id]",uopt.id%><%end%></td>
	<td>	<%=uopt.name%></td>
	
		<td>
		<%uopt.bsweapons.each do |bs|%>
			<%if(!bs.cc)%>
			<%=bs.name%>
			<%end%> 
		<%end%>
		</td>
		<td>
			<%uopt.ccweapons.each do |cc|%>
				<%if(cc.cc)%>
				<%=cc.name%>
				<%end%>
			<%end%>
		</td>
		<td>
				<%=uopt.swc< 0 ? "+"+uopt.swc.abs.to_s : uopt.swc %>
		</td>
		<td>
			<%=uopt.cost%>
		</td>
	</tr>
	
			

	
<%end%>
</table>
