<h2 class="textheader">Add Unit</h2>
<div class="textblock">

<% form_for(@combat_group_unit) do |f| %>
  <%= f.error_messages %>
	<%=f.hidden_field :combat_group_id,:value=>params[:combat_group_id]%>
	<%=collection_select :unit,:id,@units,:id,:name,{},
	{:onChange=>remote_function(:update => "unitoptioncontainer",
		:url =>{ :action => :getunit},
		:with=>"'unit_id=' + this.value")}%>
	
  <p>

	<div id="unitoptioncontainer">
		<%=render :partial=>"unitcard",:object=>@firstunit,:locals=>{:isInch=>@isInch}%>
	</div>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', army_list_path(params[:army_list_id]) %>
</div>
