<h1>New unit</h1>

<p>Army: <%=@army.name%>
<% form_for([:admin,@army,@unit]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mov1 %><br />
    <%= f.text_field :mov1 %>
  </p>
  <p>
    <%= f.label :mov2 %><br />
    <%= f.text_field :mov2 %>
  </p>
  <p>
    <%= f.label :cc %><br />
    <%= f.text_field :cc %>
  </p>
  <p>
    <%= f.label :bs %><br />
    <%= f.text_field :bs %>
  </p>
  <p>
    <%= f.label :ph %><br />
    <%= f.text_field :ph %>
  </p>
  <p>
    <%= f.label :wip %><br />
    <%= f.text_field :wip %>
  </p>
  <p>
    <%= f.label :arm %><br />
    <%= f.text_field :arm %>
  </p>
  <p>
    <%= f.label :bts %><br />
    <%= f.text_field :bts %>
  </p>
  <p>
    <%= f.label :w %><br />
    <%= f.text_field :w %>
  </p>
 
 
  <p>
    <%= f.label :unit_type_id %><br />
    <%=select_tag 'unit[unit_type_id]',options_from_collection_for_select(UnitType.all, :id, :name,:selected => @unit.unit_type_id)%>
  </p>
  <p>
    <%= f.label :avail %><br />
    <%= f.text_field :avail %>
  </p>
  <p>
    <%= f.label :regular %><br />
    <%= f.check_box :regular %>
  </p>
  <p>
    <%= f.label :impetuous %><br />
    <%=select_tag 'unit[impetuous]','<option value="0">Not Impetuous</option><option value="1">Impetuous</option><option value="2">Frenzy</option>'%>
  </p>
  <p>
    <%= f.label :cube %><br />
    <%= f.check_box :cube %>
  </p>
  <p>
    <%= f.label :skills %><br />
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
    
  </p>
  <p>
    <%= f.label 'is Addon unit used for second profile does not contribute to a combat group model count' %><br />
    <%= f.check_box :isaddon %>
  </p>
<p>

    <%= f.label 'is ghost unit used for ghosts does not contribute to a combat group model count' %><br />
    <%= f.check_box :ghost %>
</p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_army_path(@army) %>
