<html>
<head>
 <title>Infinity Pool</title>
<%=stylesheet_link_tag('blueprint/screen')%>
<%=stylesheet_link_tag('blueprint/print')%>
<%=stylesheet_link_tag('print')%>
<!--[if IE]><%=stylesheet_link_tag('blueprint/ie')%><![endif]-->
   
</head>
<body>
	<div class="container">
		
		<div class="span-22 content last">
		<%= @content_for_layout%>
		</div>
		
</body>
</html>